:root {
  --font-family-base: 'Poppins', 'Open Sans';
  --H1-font-family: var(--font-family-base);
  --H2-font-family: var(--font-family-base);
  --H3-font-family: var(--font-family-base);
  --H4-font-family: var(--font-family-base);
}

body {
  margin: 0;
  background-color: #f6f6f6;
}

.burger {
  display: none;
}

nav {
  background-color: #11296E;
  display: flex;
  height: 70px;
  padding: 9px 20px;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #F7F7F7;
  margin: 0 10px;
  text-decoration: none;
  font-family: var(--H1-font-family, Poppins);
  font-size: 15px;
  font-weight: 600;
}

nav a:hover, nav a.active {
  text-decoration: underline;
  color: #CBB2FE;
}

.marca {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nameBrand h1{
  color: #F7F7F7;
  font-family: var(--H1-font-family, Open Sans);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}

.logo img{
  height: 80px;
  width: 90px;
  padding: 10px;
}

main {
  padding: 2rem;
}

@media (max-width: 780px) {
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #11296E;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 0 15px;
    z-index: 1000;
  }

  .burger {
    color: #F7F7F7;
    display: block;
    position: absolute;
    left: 10px;
    z-index: 2000;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .logo {
    display: none;
  }

  .nameBrand h1{
    font-size: 22px;
    z-index: 1500;
    position:absolute;
    top: 1px;
    left: 80px;
  }
  
  .menu {
    display: none;
  }
 
  #menuLat:checked ~ nav .menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #11296E;
    height: 100vh;
    width: 170px;
    padding: 100px 20px 20px 20px;
    z-index: 1000;
    align-items: flex-start;
    gap: 40px;
    transition: transform 0.3s ease;
  }
}

.footer {
  background-color: #11296E; /* Brand Primary */
  color: #ffffff;
  padding: 20px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.footer-container {
  display: flex;
  justify-content: space-between; /* separa izquierda y derecha */
  align-items: center;
  flex-wrap: wrap; /* se adapta en pantallas pequeñas */
}
.footer-left {
  flex: 1; /* ocupa el espacio restante */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo h2 {
  display: flex;
  flex-direction: column; /* logo arriba, texto debajo de logo */
  align-items: flex-start; /* alineado a la izquierda */
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.footer-logo img {
  height: 80px;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 3px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-info {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 10px;
  opacity: 0.9;
}

.footer-copy {
  font-size: 13px;
  font-weight: 500;
  padding-top: 8px;
}

.footer-right {
  flex: 6;
  text-align: center; /* centra el contenido */
}

@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .footer-left, .footer-right {
    flex: none;
    width: 100%;
    margin-bottom: 15px;
  }
}