body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f6f6f6;
}

footer {
  background-color: #11296E;
  color: white;
  text-align: center;
  padding: 1rem;
}

nav {
  background-color: #11296E;
  padding: 0.5rem;
  text-align: center;
}

nav a {
  color: #F7F7F7;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
}